<%let total = 0%>
<%let totalproductos = 0%>
<%productos.forEach(producto => {
  total = total + producto.Product.price 
  totalproductos++
  })%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Carrito</title>
</head>
<body>
    <%- include('components/header.ejs') %>

    <section class="carrito table ">
        <table>
            <thead>
              <tr>
                <th>Galleta</th>
                <th>Foto</th>
                <th>Descripcion</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">

              <% productos.forEach(producto => { %>
                <tr>
                  <td><%=producto.Product.name%></td>
                  <td><img src="./uploads/<%= producto.Product.photo %>" alt=""></td>
                  <td><%=  producto.Product.description%></td>
                  <td><%= producto.Product.price %>$</td>
                  <td> <button class="btn btn-danger" data-cartproductid="<%= producto.id %>" >Eliminar</button> </td>
                </tr>
               
              <% }) %>
              <tr>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td><%=total%>$</td>
              </tr>

            </tbody>
          </table>
    </section>

    <section class="pm">
      <article class="orden-compra">
        <div class="orden-info">
          <h3>Orden de Compra</h3>
          <p>Paquetes de Galletas: <%= totalproductos%></p>
          <p>Monto Total: <%=total%>$</p>
          <p>el monto en $ debe cancelarse en paralelo</p>
        </div>
        <div class="pm-datos">
          <h3>Datos del Pago Movil</h3>
          <p>Cedula: 30045639</p>
          <p>Telefono: 04124609637</p>
          <p>Banco: Banfanb</p>
        </div>
      </article>
      <article class="pm-info">
        <h2>Datos Pago Movil</h2>
        <form action="/saleOrder/add" method="POST">
          <input class="form-control" type="text" name="banco" id="" placeholder="Banco">
          <input class="form-control" type="number" name="telefono" id="" placeholder="Telefono">
          <input class="form-control" type="number" name="cedula" id="" placeholder="Cedula">
          <input class="form-control" type="number" name="referencia" id="" placeholder="Referencia">

          <input type="submit" value="Crear Orden de Compra" class="btn btn-success">
        </form>
      </article>
    </section>
    
</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>

<script>

document.addEventListener('DOMContentLoaded', () => {
    // Obtén todos los botones de eliminación por su clase
    const deleteButtons = document.querySelectorAll('.btn-danger');

    // Agrega un controlador de eventos a cada botón de eliminación
    deleteButtons.forEach(button => {
    button.addEventListener('click', () => {
      // Obtiene el ID de la sección desde el atributo de datos
      const cartproductid =  button.dataset.cartproductid;
      // Realiza la solicitud de eliminación utilizando fetch
      fetch(`/shoppingcart/delete/${cartproductid}`, {
        method: 'DELETE'

      })
      location.reload(true);
      location.reload(true);
    });
  });
})
    
   
</script>